<div class="products-container">
  @if(productsList().length === 0){
    <span>Sorry! No products</span>
  }
  <div class="product-card" *ngFor="let product of productsList()">
    <img src="../../../../assets/sherlocks-homes.jpg" alt="img" />
    <h2 class="product-name">{{ product.productName }}</h2>
    <p class="product-price">Price: {{ product.productPrice }}</p>
    <p class="product-price">Category: {{ product.productCategory }}</p>
    <p class="product-description">
      Date Added: {{ product.productDateAdded | date : "dd/MM/yyyy" }}
    </p>
    <p class="product-description">{{ product.productDescription }}</p>
    <div class="card-actions">
      <button class="wishlist-btn" (click)="onWishList(product.productId)">
        ❤️
      </button>
      <button class="buy-btn" (click)="onAddToCart(product.productId)">
        Buy
      </button>
    </div>
  </div>
</div>
