<div class="products-container">
  <div class="product-card" *ngFor="let product of productsList">
    <img src="../../../../assets/sherlocks-homes.jpg" alt="img" />
    <h2 class="product-name">{{ product.productName }}</h2>
    <p class="product-price">Price: {{ product.productPrice }}</p>
    <p class="product-description">{{ product.productDescription }}</p>
    <div class="card-actions">
      <button class="wishlist-btn">
        ❤️
      </button>
      <button class="buy-btn">Buy</button>
    </div>
  </div>
</div>
